.landing-page {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;

  header p {
    font-weight: 500;
    color: var(--color-neutral-sub-text);
    margin-bottom: 2.5rem;
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & > button {
      width: 18rem;
      justify-content: center;
    }

    .join-room-code-input {
      display: flex;
      padding: 1rem;
      align-items: center;
      justify-content: space-between;
      border-radius: 0.75rem;
      border: 1px solid var(--color-neutral-border);
      padding: 0 0.5rem 0 1rem;
      height: 3.5rem;

      input {
        height: 100%;
        width: 100%;
        border: none;
        font-family: "Plus Jakarta Sans", sans-serif;
        color: var(--color-neutral-sub-text);
        font-size: 0.88rem;

        &:focus,
        &:active {
          outline: none;
        }
      }
    }
  }
}
