.btn {
  height: 2.5rem;
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  border: none;
  padding: 0 1rem;
  color: var(--color-neutral-white);
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  gap: 0.5rem;
  transition: transform 0.15s ease;
  white-space: nowrap;
  font-family: "Plus Jakarta Sans", sans-serif;

  &:hover {
    transform: translateY(-0.125rem);
  }

  &:active {
    transform: translateY(0.125rem);
  }

  &.secondary {
    background-color: var(--color-neutral-black);
    color: var(--color-neutral-white);
  }

  &.tetriary {
    background-color: var(--color-neutral-sub-background);
    color: var(--color-neutral-black);
  }

  &.big {
    height: 3.5rem;
  }
}
