.header {
  display: flex;
  height: 4rem;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: auto;

  .actions {
    display: flex;
    gap: 0.5rem;
  }
}

.user-avatar-list {
  display: flex;

  .avatar + .avatar {
    margin-left: -0.5rem;
  }

  .avatar {
    display: grid;
    place-items: center;
    background-color: #bfdfff;
    color: #005cb8;
    border-radius: 4rem;
    border: 2px solid white;
    height: 2.5rem;
    width: 2.5rem;
  }
}
