.header {
  display: flex;
  height: 4rem;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  position: relative;

  .actions {
    display: flex;
    gap: 0.5rem;
  }

  .menu-icon {
    display: none;
    cursor: pointer;
  }

  & > input[type="checkbox"] {
    display: none;
  }

  .toggle-chat-btn {
    display: none;
  }

  @media screen and (max-width: 1156px) {
    padding: 0;

    .menu-icon {
      display: block;
    }

    .actions {
      display: none;
    }

    .toggle-chat-btn {
      display: flex;
    }

    & > input[type="checkbox"]:checked ~ .actions {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: white;
      padding: 1rem;
      border-radius: 0.75rem;
      right: 1rem;
      top: 2.5rem;
      border: 1px solid #f6f7fa;
      z-index: 100;
    }
  }
}

.user-avatar-list {
  display: flex;

  & > * + * {
    margin-left: -0.5rem;
  }

  .avatar-container {
    position: relative;

    .avatar {
      display: grid;
      place-items: center;
      background-color: var(--color-neutral-sub-background);
      color: var(--color-neutral-sub-text);
      border-radius: 4rem;
      border: 2px solid white;
      height: 2.5rem;
      width: 2.5rem;
      font-weight: 500;
      font-family: "Space Mono", monospace;
    }
  }

  .chat-gpt-user-avatar {
    z-index: 10;
    display: grid;
    place-items: center;
    background-color: #74aa9c;
    border-radius: 4rem;
    border: 2px solid white;
    height: 2.5rem;
    width: 2.5rem;
  }
}

.tool-tip {
  position: absolute;
  display: none;
  padding: 0.25rem 0.75rem;
  background-color: var(--color-neutral-black);
  color: #fff;
  font-size: 0.75rem;
  border-radius: 0.25rem;

  &.show-tool-tip {
    display: block;
    right: 50%;
    transform: translateX(50%);
  }
}

.chat-gpt-user-avatar .tool-tip {
  bottom: -1.75rem;
}

.qr-code-modal {
  display: grid;
  place-content: center;
  position: absolute;
  inset: 0;
  background-color: rgba(41, 44, 54, 0.75);
  z-index: 999;

  .content {
    background-color: #fff;
    padding: 1.5rem;
    text-align: center;
    border-radius: 1.5rem;

    h1 {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
}
