.room-page {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 1.5rem 1rem 1.5rem;
  height: calc(100vh - 2.5rem);
  display: grid;
  grid-template-rows: 4rem calc(100vw - 4rem);
  grid-template-columns: 1fr;

  main {
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: var(--color-neutral-sub-background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: calc(100vh - 5.5rem);
  }
}
