.room-page {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 1.5rem;
  // display: grid;
  // grid-template-rows: 4.5rem 1fr;
  // grid-template-rows: 1fr;

  main {
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: var(--color-neutral-sub-background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
